include README.md
recursive-include octoprint_enclosure_rpigpio_faker/templates *
recursive-include octoprint_enclosure_rpigpio_faker/translations *
recursive-include octoprint_enclosure_rpigpio_faker/static *
