<!-- ko foreach: $root.rpi_outputs() -->

<!-- ko if: ($data.output_type() == "regular_gpio")  -->
<h4>
    <span data-bind="html: label"> </span>
    <span class="badge">regular_gpio gpio</span>
    <!-- ko if: ($data.gpio_status())  -->
    <span class="badge badge-success help-inline">on</span>
    <!-- /ko -->
    <!-- ko ifnot: ($data.gpio_status())  -->
    <span class="badge badge-important help-inline">off</span>
    <!-- /ko -->
</h4>

<!-- /ko -->

<!-- /ko -->
