<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">{{ _('Input ID') }}</label>
    <div class="controls">
      <input type="text" data-bind="value: inputEditor.index_id" readonly>      
      <span class="help-inline">Auto generated ID for Input</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">{{ _('Name') }}</label>
    <div class="controls">
      <input type="text" data-bind="value: inputEditor.label, valueUpdate: 'afterkeydown'">
      <span class="help-inline">Name displayed on Enclosure Tab</span>
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">{{ _('IO Type') }}</label>
    <div class="controls">
      <input type="radio" name="io_type_radio"  value="input" data-bind="checked: inputEditor.input_type"> {{ _('Input') }}
    </div>
    <div class="controls">
      <input type="radio" name="io_type_radio"  value="output" data-bind="checked: inputEditor.input_type"> {{ _('Output') }}
    </div>
    <div class="control-group">
      <div class="controls">
      </div>
    </div>
  </div>


</form>